/*include fonts*/
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/assets/fonts/Montserrat/Bold/montserrat-bold-webfont.eot');
    src: url('/assets/fonts/Montserrat/Bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat/Bold/montserrat-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/Montserrat/Bold/montserrat-bold-webfont.woff') format('woff'),
    url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('truetype'),
    url('/assets/fonts/Montserrat/Bold/montserrat-bold-webfont.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Regular/montserrat-regular-webfont.eot');
    src: url('/assets/fonts/Montserrat/Regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat/Regular/montserrat-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Montserrat/Regular/montserrat-regular-webfont.woff') format('woff'),
    url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('truetype'),
    url('/assets/fonts/Montserrat/Regular/montserrat-regular-webfont.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*reset stock css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*custom default styles*/
p, li, a {
    font-size: 16px;
    text-decoration: none;
    line-height: 20px;
    color: #ffffff;
}

p {
    line-height: 25px;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

header, header a {
    color: #fff;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
    color: #fff;
}

h2 {
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    font-weight: bold;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.container, .second-container {
    max-width: 1115px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.blue-button-anchor {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 8rem;
    margin: 0 auto;
    min-width: 200px;
    padding: 13px 0;
    text-align: center;
}

.blue-number {
    font-size: 18px;
    line-height: 22px;
    color: #4985FF;
}

/*header*/
header {
    width: 100%;
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/main-banner.png) no-repeat center;
    background-size: cover;
}

.header-nav-wrap {
    border-bottom: 1px solid rgba(161, 161, 161, .5);
}

nav.header-nav {
    margin-left: 45%;
    height: 100px;
}

ul.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 100px;
}

ul.header-nav-list li {
    padding: 40px 20px;
}

/*ul.header-nav-list li:last-child {
    padding: 40px 0 20px 20px;
}*/

ul.header-nav-list li:hover, ul.header-nav-list li:active {
    border-bottom: 1px solid #fff;
}

ul.header-nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 40px 0;
}

.burger-wrapper {
    display: none;
}

.banner-title-wrap {
    width: 100%;
    height: calc(100% - 96px);
}

.banner-title {
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.banner-title h1 {
    margin-bottom: 50px;
}

.banner-title p {
    margin-bottom: 20px;
    line-height: 20px;
}

.banner-title a {
    padding: 13px 0;
}
/*main*/
/*section Services*/
#services {
    padding-top: 26px;
    padding-bottom: 105px;
}
#services .section-title {
    width: 54%;
    margin: 0 auto;
    text-align: center;
}
#services .section-title h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
    color: #323232;
    margin-bottom: 26px;
}
#services .section-title p {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 70px;
}

#services .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 46px;
}

#services .services .service-item-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 33%;
}

.service-item-description {
    margin-top: 50px;
    margin-left: 17px;
}

.service-item-description h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
}

.service-item-description p {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}
.anchor {
    display: flex;
}

/*section Interface*/
#interface {
    background-color: #F6F6F8;
    padding-top: 100px;
    padding-bottom: 70px;
}

#interface p {
    color: #999999;
}

#interface a {
    color: #4985FF;
    text-decoration: underline;
}

.interface-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 85px;
    align-items: center;
}

.interface-description, .interface-img {
    width: 40%;
}

.interface-img img {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
}

.interface-description h2, .interface-description p {
    margin-bottom: 26px;
}

.interface-description p {
    text-align: center;
}

.interface-web-programming {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.interface-item p {
    text-align: center;
}

.interface-item .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interface-item .title img {
    margin-right: 10px;
}

/*section */
#example-work {
    width: 100%;
    background: #fff;
    z-index: 1;
    position: relative;
    padding-bottom: 85px;
}

#example-work .background {
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    z-index: -1;
}

#example-work h2 {
    color: #fff;
    font-weight: bold;
}

#example-work p {
    color: #999999;
}

#example-work .content {
    z-index: 1;
    padding-top: 100px;
}

#example-work .content .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: center;
}

#example-work .content .title h2 {
    width: 45%;
}
#example-work .content .title a {
    max-height: 20px;
    margin: 0;
}

.cards-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
    align-items: stretch;
}

.card-item-wrap {
    display: flex;
    flex-direction: column;
    max-width: 32%;
    max-height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-item-wrap .card-description, .card-item-wrap .card-img, .card-item-wrap .card-title {
    margin-bottom: 30px;
}

.card-item-wrap:nth-child(1) .card-description {
    margin-top: -27px;
}

.card-item-wrap:nth-child(3) .card-description {
    margin-top: -2px;
}

.card-item-wrap .card-img img {
    width: 100%;
    border-radius: 10px;
}

.card-item-wrap .card-link a {
    color: #4985FF;
    text-decoration: underline;
}

/*section Projects*/
#projects {
    background-color: #F6F6F8;
    padding-top: 100px;
    padding-bottom: 130px;
}

#projects .section-title {
    text-align: center;
}

#projects .section-title h2 {
    margin-bottom: 50px;
}

#projects .section-title p {
    color: #999999;
    margin-bottom: 70px;
}

.projects-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.projects-img .img-item {
    text-align: center;
}

.projects-img .img-item img {
    width: 80%;
    cursor: pointer;
}

/*section Video-about*/
#video-about {
    position: relative;
}

#video-about .container {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 85px;
    margin-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

#video-about .background {
    background: url("./img/video-about-background.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#video-about .section-title h2 {
    margin-bottom: 30px;
}

#video-about .section-title p {
    margin-bottom: 70px;
}

#video-about .section-video-wrap {
    width: 65%;
    height: 20rem;
    margin: 0 auto;
}

#video-about .section-video-wrap .play-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("./img/video-about.png") no-repeat center;
    background-size: auto;
    background-size: auto;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 10px;
}

#video-about .section-video-wrap .play-button-wrap img {
    margin-right: 20px;
}

#video-about h2 {
    color: #fff;
}

#video-about .second-container {
    text-align: center;
    margin-bottom: 55px;
}

#video-about .second-container h3 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
}

#video-about .second-container p {
    color: #999999;
    margin-bottom: 30px;
}

#video-about .second-container .section-content .input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
}

#video-about .second-container .section-content .input-wrap input{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0 0 30px;
    font-size: 13px;
    line-height: 21px;
    padding: 15px 45px 15px 33px;
    width: 40%;
}

#video-about .second-container .section-content .input-wrap button {
    padding: 15px 36px 15px 26px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    border: 0;
}
/*footer*/
footer {
    background: #F6F6F8;
    padding-top: 70px;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
}

footer .column .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
}

footer li, footer li a {
    color: #999999;
}

footer .list ul {
    list-style-image: url('./icons/arrow.svg');
    margin-left: 0;
    padding-left: 1em;
}

footer .list li {
    margin-bottom: 30px;
}

footer .second-container {
    padding: 30px 0;
    text-align: center;
}

footer .second-container p {
    color: #999999;
}

footer .first-list ul {
    list-style-image: none;
}

footer .first-list ul li {
    position: relative;
}
footer .first-list ul li a {
    margin-left: 7px;
}

footer .first-list ul li.mail:before {
    content: ' ';
    position: absolute;
    background: url('./icons/envelope.svg');
    width: 15px;
    height: 15px;
    top: 2px;
    left: -15px;
}

footer .first-list ul li.phone:before {
    content: ' ';
    position: absolute;
    background: url('./icons/call.svg');
    width: 15px;
    height: 15px;
    top: 2px;
    left: -15px;
}

footer .first-list ul li.address:before {
    content: ' ';
    position: absolute;
    background: url('./icons/placeholder.svg');
    width: 15px;
    height: 15px;
    top: 2px;
    left: -15px;
}

@media screen and (max-width: 769px) {
    #services .section-title {
        width: 100%;
    }
    nav.header-nav {
        margin-left: 0;
    }
    #services .services {
        flex-direction: column;
    }
    #services .services .service-item-wrap {
        width: 65%;
        margin: 0 auto 30px auto;
        align-items: center;
        max-width: 100%;
    }
    .service-item-description {
        margin-top: 0;
    }
    #example-work .content .title {
        justify-content: space-evenly;
    }
    #video-about .section-video-wrap {
        width: 80%;
    }
    .burger-wrapper {
        display: none !important;
    }
}

@media screen and (max-width: 415px){
    /*header*/
    .banner-title h1 {
        font-size: 44px;
    }
    ul.header-nav-list li {
        padding: 40px 10px;
    }
    .burger-wrapper {
        display: block !important;
    }
    nav.header-nav {
        height: 45px;
    }
    .header-nav-list {
        display: none !important;
    }
    .burger-wrapper {
        padding: 15px 0;
    }
    #popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        z-index: 2;
    }
    .close-button-srap {
        width: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .banner-title h1 {
        font-size: 34px;
        line-height: 35px;
    }
    .menu-list-mobile {
        width: 100%;
        padding: 30px;
    }
    .menu-list-mobile li {
        padding: 15px 0;
    }
    .menu-list-mobile li a {
        font-size: 22px;

    }
    .menu-list-mobile li a:hover, .menu-list-mobile li a:active {
        text-decoration: underline;
    }

    /*section Services*/
    #services {
        padding-bottom: 45px;
    }
    #services .section-title h2 {
        font-size: 24px;
        line-height: 36px;
    }
    #services .services .service-item-wrap {
        width: 100%;
    }

    /*section Interface*/
    #interface {
        padding-top: 45px;
    }
    .interface-content {
        flex-direction: column;
    }
    .interface-description, .interface-img {
        width: 100%;
    }
    .interface-description {
        margin-bottom: 30px;
    }
    .interface-description p {
        text-align: left;
    }
    .header-nav-list {
        display: none;
    }
    .burger-wrapper {
        display: block;
    }
    .interface-web-programming {
        flex-direction: column;
    }
    .interface-item .title {
        justify-content: center;
    }

    /*section Example*/
    #example-work .content {
        padding-top: 45px;
    }
    #example-work .content .title {
        flex-direction: column;
        justify-content: center;
    }
    #example-work .content .title h2 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .cards-wrap {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .card-item-wrap {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .card-item-wrap:nth-child(1) .card-title h3 {
        color: #fff;
    }
    .card-item-wrap:nth-child(3) {
        margin-bottom: 0;
    }

    /*section Projects*/
    #projects {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    /*section video-about*/
    #video-about .container {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 45px;
    }
    #video-about .section-video-wrap {
        width: 100%;
        height: 15rem;
    }
    #video-about .second-container .section-content .input-wrap input {
        width: 60%;
    }

    /*footer*/
    footer .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    #video-about .second-container .section-content .input-wrap button {
        padding: 15px 16px 15px 16px;
    }
}